LinkedData.config do |config|
  config.goo_port              = 9000
  config.goo_host              = "localhost"
  config.search_server_url     = "http://localhost:8983/solr"
  config.repository_folder     = "./test/data/ontology_files/repo"
  config.rest_url_prefix       = "http://data.bioontology.org/"
  config.enable_security       = false
  config.mgrep_dictionary_file = "./test/data/dictionary.txt"
end

#Linked data does not need to know about this.
$MGREP_HOST = "bmir-dev1"
$MGREP_PORT = 55555
